@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
    font-family: "Bree Serif", serif;
}
body {
    margin: 0;
    padding: 0;
}
/* <------Top section css-----> */

main{
    height: auto;
    width: 90%;
    margin: 50px auto;
    margin-bottom: 10px;
    background-color: #f1f1f1c2;

}
header {
    text-align: center;
    padding: 20px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
}
hr {
    width: 20%;
    margin: auto;
}
section {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    margin-top: 30px;
}
.img_div {
    width: 30%;
}
section img {
    width: 100%;
    object-fit: cover;
}
#button_div {
    border: none;
    width: 20%;
    margin: auto;
    padding: 10px;
}
#shop_button {
    border: none;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(44, 43, 43, 0.838);
    color: white;
    border-radius: 2px;
}
#shop_button:hover {
    background-color: black;
    color: white;
    transition: background 0.2s;
    border-radius: none;
}

/* <--------Mid section css-------> */
#mid_section {
    width: 90%;
    margin: auto;
    border: 1px solid rgba(219, 218, 218, 0.537);

}
#mid_section_child_div {
    height: auto;
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    cursor: pointer;
    line-height: 5px;
}
.mid_img_div {
    width: 47%;
    text-align: center;
}
.mid_img_div img {
    width: 100%;
    display: block;
    margin-left: auto;
    height: auto;
    margin-right: auto;
}
/* <------Bottom Section-------> */
#bottom_section {
    height: auto;
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
   border: 1px solid rgba(219, 218, 218, 0.537);
}
.bottom_child_div1 {
    width: 55%;
    padding: 10px;
}
.bottom_child_div2 {
    width: 40%;
    padding-top: 50px;
    padding-left: 20px;

    vertical-align: middle;
}
input {
    border: 1px solid gray;
    width: 55%;
    padding: 2px;
    height: 30px;
    border-radius: 3px;
}
#subscribe_button {
    border: none;
    padding: 4px;
    height: 35px;
    width: 25%;
    border-radius: 5px;
    cursor: pointer;
}
#subscribe_button:hover {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
/* <---------Footer Section---------> */
footer {
    width: 90%;
    margin: 30px auto;
    border: 1px solid rgba(219, 218, 218, 0.537);
    display: flex;
   justify-content: space-between;
    margin-bottom: 100px;
}
aside {
    width: 35%;
    line-height: 5px;
    padding: 5px;
}
aside img {
    width: 90%;
}
#footer_second_child {
    width: 60%;
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    line-height: 5px;
}
.footer_card img {
    width: 95%;
    border: 0.5px solid gray;
    margin-left: auto;
    margin-right: auto;
}

/* <-------Media Query for mobile screen-------> */
@media screen and (min-width: 250px) and (max-width: 420px) {
    /* <---Top section-----> */
    header {
        text-align: center;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    section {
        width: 80%;
        margin: auto;
        display: block;
        padding: 20px;

        margin-top: 30px;
    }
    .img_div {
        width: 100%;
        padding: 10px;
    }
    section img {
        width: 100%;
        object-fit: cover;
    }
    #button_div {
        border: none;
        width: 50%;
        margin: auto;
        padding: 10px;

    }
    #shop_button {
        border: none;
        width: 100%;
        margin: auto;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(44, 43, 43, 0.838);
        color: white;
        border-radius: 2px;
    }
    #shop_button:hover {
        background-color: black;
        color: white;
        transition: background 0.2s;
        border-radius: none;
    }

    /* <---------mid_section-------> */

    #mid_section_child_div {
        height: auto;
        width: 90%;
        display: block;
        margin: 20px auto;
        cursor: pointer;
    }
    .mid_img_div {
        width: 100%;
        text-align: center;
        padding-top: 5px;
    }
    .mid_img_div img {
        width: 90%;
        display: block;
        margin-left: auto;
        height: auto;
        margin-right: auto;
    }
    /* <------Bottom Section-------> */
    #bottom_section {
        height: auto;
        width: 90%;
        margin: 10px auto;
        display: block;
    }
    .bottom_child_div1 {
        width: 85%;
        margin: auto;
    }
    .bottom_child_div2 {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    input {
        width: 60%;
        height: 40px;
        margin-left: 10px;
    }
    #subscribe_button {
        border: none;
        padding: 4px;
        height: 45px;
        width: 28%;
        border-radius: 5px;
    }
    #subscribe_button:hover {
        border: none;
        background-color: black;
        color: white;

        border-radius: 5px;
    }

    /* <------Footer part------> */
    footer {
        width: 90%;
        margin: 30px auto;
        display: block;
        margin-bottom: 100px;
    }
    aside {
        width: 95%;
        margin: auto;
        padding: 10px;
        text-align: left;
    }
    aside img {
        width: 95%;
        display: block;
        margin: auto;
    }
    #footer_second_child {
        width: 90%;
        margin: auto;
        display: block;
        padding: 20px;
        gap: 40px;
    }
    .fotter_card img {
        width: 100%;
        border: 0.5px solid gray;
        margin-left: auto;
        margin-right: auto;
    }
}

/* <-------Media Query for Tablet screen-------> */
@media screen and (min-width: 421px) and (max-width: 767px) {
    header {
        text-align: center;
        padding: 20px 0px 10px 0px;
        font-size: 15px;
        font-weight: bold;
    }

    section {
        width: 80%;
        margin: auto;
        display: block;
        padding: 20px;
        margin-top: 30px;
    }
    .img_div {
        width: 100%;
        padding: 10px;
    }
    section img {
        width: 100%;
        object-fit: cover;
    }
    #button_div {
        border: none;
        width: 50%;
        margin: auto;
        padding: 10px;
    }
    #shop_button {
        border: none;
        width: 100%;
        margin: auto;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(44, 43, 43, 0.838);
        color: white;
        border-radius: 2px;
    }
    #shop_button:hover {
        background-color: black;
        color: white;
        transition: background 0.2s;
        border-radius: none;
    }

    /* <---------mid_section-------> */

    #mid_section_child_div {
        height: auto;
        width: 90%;
        display: block;
        margin: 20px auto;
        cursor: pointer;
    }
    .mid_img_div {
        width: 100%;
        text-align: center;
        padding-top: 5px;
    }
    .mid_img_div img {
        width: 90%;
        display: block;
        margin-left: auto;
        height: auto;
        margin-right: auto;
    }
    /* <------Bottom Section-------> */
    #bottom_section {
        height: auto;
        width: 90%;
        margin: 10px auto;
        display: block;
    }
    .bottom_child_div1 {
        width: 85%;
        margin: auto;
    }
    .bottom_child_div2 {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    input {
        width: 60%;
        padding: 2px;
        margin-left: 10px;
        height: 40px;
    }
    #subscribe_button {
        border: none;
        width: 25%;
        padding: 4px;
        height: 45px;
        border-radius: 5px;
    }
    #subscribe_button:hover {
        border: none;
        background-color: black;
        color: white;

        border-radius: 5px;
    }
    /* <------Footer part------> */
    footer {
        width: 90%;
        margin: 30px auto;
        display: block;
        margin-bottom: 100px;
    }
    aside {
        width: 95%;
        margin: auto;
        padding: 10px;
        text-align: left;
    }
    aside img {
        width: 95%;
        display: block;
        margin: auto;
    }
    #footer_second_child {
        width: 90%;
        margin: auto;
        display: block;
        padding: 20px;
        gap: 40px;
    }
    .fotter_card img {
        width: 100%;
        border: 0.5px solid gray;
        margin-left: auto;
        margin-right: auto;
    }
}

/* <-------Media Query for Laptop screen-------> */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #main {
        height: auto;
        width: 90%;
        margin: 50px auto;
        margin-bottom: 10px;
        background-color: #f1f1f1c2;
    }
    header {
        text-align: center;
        padding: 20px 0px 10px 0px;
        font-size: 15px;
        font-weight: bold;
    }

    section {
        width: 80%;
        margin: auto;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        margin-top: 30px;
    }
    .img_div {
        width: 100%;
        padding: 10px;
    }
    section img {
        width: 100%;
        object-fit: cover;
    }
    #button_div {
        border: none;
        width: 50%;
        margin: auto;
        padding: 10px;
    }
    #shop_button {
        border: none;
        width: 80%;
        margin: auto;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(44, 43, 43, 0.838);
        color: white;
        border-radius: 2px;
    }
    #shop_button:hover {
        background-color: black;
        color: white;
        transition: background 0.2s;
        border-radius: none;
    }

    /* <------Bottom Section-------> */
    #bottom_section {
        height: auto;
        width: 90%;
        margin: 10px auto;
        display: block;
    }
    .bottom_child_div1 {
        width: 90%;
        margin: auto;
    }
    .bottom_child_div2 {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    input {
        width: 60%;
        margin-bottom: 30px;
        height: 40px;
    }
    #subscribe_button {
        border: none;
        padding: 4px;
        height: 45px;
        width: 30%;
        border-radius: 5px;
    }
    #subscribe_button:hover {
        border: none;
        background-color: black;
        color: white;
        border-radius: 5px;
    }

    /* <------Footer part------> */
    footer {
        width: 90%;
        margin: 30px auto;
        display: block;
        margin-bottom: 100px;
    }
    aside {
        width: 95%;
        margin: auto;
        padding: 10px;
        text-align: left;
    }
    aside img {
        width: 100%;
        display: block;
        margin: auto;
    }
    #footer_second_child {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        gap: 40px;
    }
    .fotter_card img {
        width: 100%;
        border: 0.5px solid gray;
        margin-left: auto;
        margin-right: auto;
    }
}
